@import url("https://fonts.googleapis.com/css?family=Sarala:700|Exo+2:300");

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: 1px solid transparent;
}

.wrapperPlayer {
  width: 280px;
  height: 400px;
  perspective: 800px;
  position: relative;
}

.cardPlayer {
  width: 320px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

.cardPlayer > div {
  position: absolute;
  width: 320px;
  height: 350px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.front {
  background-size: cover;
  transform: rotateY(0deg) translateZ(160px);
  border-radius: 34px 3px 0 0;
  background: round;
  border: 3px solid white;
}

.right {
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, #76002a 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
  border: 3px solid rgb(219, 95, 95);
}

.cardPlayer:hover {
  transform: translateZ(-160px) rotateY(-90deg);
}

.cardPlayer:hover .front {
  opacity: 0;
}

.cardPlayer:hover .right {
  opacity: 1;
}

.front h3,
.right h2 {
  margin: 0;
  font-size: 25px;
  letter-spacing: -0.25px;
  /* transform: translateX(-44px); */
  font-family: "Sarala";
  font-weight: 700;
}

.right h2 {
  font-size: 25px;
  /* transform: translateX(-34px); */
}

.front p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

.spanDetail {
  margin-left: 13px;
  opacity: 0.55;
}

@keyframes float {
  0% {
    transform: translateZ(20px);
  }
  100% {
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.cardPlayer:hover ~ .img-wrapper img {
  transform: scale(0.9) translateX(77%) translateY(90%) rotateZ(80deg);
}

.right ul {
  margin-left: 21px;
  padding: 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

.right ul li {
  padding-bottom: 8px;
  position: relative;
  color: blanchedalmond;
  font-weight: 400;
  overflow-wrap: break-word;
}

.right ul li:before {
  content: "x";
  position: absolute;
  left: -21px;
  opacity: 0.55;
}

.viewDetail {
  position: absolute;
  right: 21px;
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: white;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  padding: 13px 43px;
  border-radius: 21px 55px 55px 55px;
  background-image: linear-gradient(
    130deg,
    #ff5c95 50%,
    rgba(51, 46, 57, 0.89) 100%
  );
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34, 34, 34, 0.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: right bottom;
}

.viewDetail a {
  color: white;
}
.delete {
  position: absolute;
  bottom: 34px;
  border: none;
  box-shadow: none;
  color: white;
  background: none;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  padding: 13px 43px;
  border-radius: 55px 21px 55px 55px;
  background-image: linear-gradient(
    130deg,
    #76002a 50%,
    rgba(51, 46, 57, 0.993) 100%
  );
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34, 34, 34, 0.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: right bottom;
}
.cardPlayer:hover button {
  transform: scale(1) skewY(0);
}

.cardPlayer:not(:hover) button {
  opacity: 0;
}

.viewDetail:hover {
  background-position: left;
  border: solid 3px #ffffff;
}

.delete:hover {
  background-position: left;
  border: solid 3px #ffffff;
}

.price {
  position: absolute;
  font-weight: bold !important;
  bottom: 34px;
  right: 21px;
  font-size: 34px !important;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0.33;
    transform: scale(0.89);
  }
}

@media only screen and (max-width: 600px) {
  body {
    transform: scale(0.67);
  }
}

.viewDetailUserRole {
  position: absolute;
  right: 75px;
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: white;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  padding: 13px 59px;
  border-radius: 55px 55px 55px 55px;
  background-image: linear-gradient(
    130deg,
    #ff5c95 50%,
    rgba(51, 46, 57, 0.89) 100%
  );
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34, 34, 34, 0.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: right bottom;
}

.viewDetailUserRole a {
  color: white;
}

.viewDetailUserRole:hover {
  background-position: left;
  border: solid 3px #ffffff;
}
